body {
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #787878;
	background:url("../images/bg.jpg") repeat-x scroll 0 0 #DCDCDC
}

.floatR {
	float: right;
}

.floatL {
	float: left;
}

.marginR {
	margin-right: 5px;
}

.marginL {
	margin-left: 5px;
}

.marginT {
	margin-top: 5px;
}

.marginB {
	margin-bottom: 5px;
}

.margin {
	margin: 5px;
}

.center {
	text-align: center;
}

p {
	padding: 2px;
	margin: 0px;
}

#main_container {
	width: 1002px;
	height: auto;
	margin: 30px auto auto;
	padding: 0px;
	text-align: left;
	border: 1px solid #e0ddda;
	background: white url(../images/1px_350px_gray.jpg) repeat-x scroll 0 0px;
	behavior: url(css/PIE.htc);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.top_bar {
	width: 1000px;
	height: 38px;
	background-color: #4a4a4a;
}

.top_search {
	width: 420px;
	height: 32px;
	_margin: 0px 10px 0 0;
	float: right;
	background: url(../images/top_search_bg.gif) no-repeat center;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 0;
}

input.search_input {
	width: 182px;
	height: 18px;
	float: left;
	margin: 5px 0 0 0;
	border: 1px solid #dbdbdb;
	border-bottom-color: #ffffff;
	border-right-color: #ffffff;
}

.search_text {
	float: left;
	width: 150px;
	color: #999999;
	padding-top: 8px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 30px;
}

.search_text a {
	text-decoration: none;
	color: #999999;
}

.search_bt {
	float: left;
	padding: 2px 0 0 0;
}

.languages {
	float: right;
	width: 150px;
	padding: 8px 0 0 0;
}

.lang_text {
	float: left;
	padding: 0 5px 0 0;
	color: #b3adad;
}

a.lang {
	display: block;
	float: left;
	padding: 0 5px 0 5px;
}

#header {
	width: 1000px;
	height: 100px;
	background-position: 0px 0px;
	margin: auto;
	margin-top:20px;
}

#logo {
	float: left;
}

a.details {
	width: 83px;
	height: 21px;
	display: block;
	float: right;
	margin: 5px 0 0 0;
	padding-left: 5px;
	background: url(../images/details_bt_bg.gif) no-repeat center;
	text-align: center;
	line-height: 21px;
	text-decoration: none;
	color: #000000;
}

/*-------------left_content------------------*/
.left_content {
	width: 210px;
	float: left;
	padding: 0 0 0 5px;
	text-align: center;
	margin-top: 20px;
}

.title_box {
	width: 200px;
	height: 30px;
	margin: 5px 0 0 0;
	text-align: center;
	font: bold 13px Verdana;
	line-height: 30px;
	-moz-border-top-right-radius: 15px;
	-moz-border-top-left-radius: 15px;
	-webkit-border-top-radius: 15px;
	-webkit-border-top-radius: 15px;
	-khtml-border-top-right-radius: 15px;
	-khtml-border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border:1px solid #CCCCCC;
	border-bottom:0px solid;
	
}
/*--------left menu---------*/
ul.left_menu {
	width: 180px;
	padding: 0px;
	margin: 0px;
	list-style: none;
}

ul.left_menu li {
	margin: 0px;
	list-style: none;
}

ul.left_menu li.odd a {
	width: 166px;
	height: 25px;
	display: block;
	border-bottom: 1px #e4e4e4 dashed;
	text-decoration: none;
	color: #504b4b;
	padding: 0 0 0 14px;
	line-height: 25px;
	background-color: #F0F0F0;
}

ul.left_menu li.even a {
	width: 166px;
	height: 25px;
	display: block;
	border-bottom: 1px #e4e4e4 dashed;
	background-color: #D8D8D8;
	text-decoration: none;
	color: #504b4b;
	padding: 0 0 0 14px;
	line-height: 25px;
}

ul.left_menu li.even a:hover,ul.left_menu li.odd a:hover {
	color: #000;
	text-decoration: underline;
}

.border_box {
	width: 180px;
	height: auto;
	text-align: center;
	background: url(images/box_bottom_bg.gif) no-repeat center bottom;
}

.product_title {
	padding: 5px 0 5px 0;
	font-weight: bold;
	height: 45px;
}

.product_title a {
	text-decoration: none;
	color: #ff8a00;
	padding: 5px 0 5px 0;
	font-weight: bold;
}

.product_title a:hover {
	color: #064E5A;
}

.product_img {
	padding: 5px 0 5px 0;
	height:150px;
	width:170px;
	text-align:center;
	display: table-cell; 
	vertical-align: middle
}

.prod_price {
	padding: 5px 0 5px 0;
}

span.reduce {
	color: #666666;
	text-decoration: line-through;
}

span.price {
	color: #ff8a00;
}

/*center content--------------------------*/
.center_content {
	position: relative;
	width: 770px;
	float: left;
	padding: 5px 8px 50px 5px;
	min-height: 800px;
}

.center_title_bar {
	width: 520px;
	height: 33px;
	float: left;
	padding: 0 0 0 40px;
	margin: 0 50px 0 12px;
	_margin: 0 0 0 6px;
	line-height: 33px;
	font-size: 12px;
	color: #847676;
	font-weight: bold;
	background: url(../images/bar_bg.gif) no-repeat center;
	left: 0px;
}

/*----------------------right content--------------*/
.right_content {
	width: 196px;
	float: left;
	padding: 5px 0 0 0;
}

.shopping_cart {
	width: 195px;
	height: 84px;
	text-align: center;
	background: url(../images/cart_bg.gif) no-repeat center;
}

.cart_title {
	font-size: 12px;
	font-size: 12px;
	color: #847676;
	font-weight: bold;
	padding: 8px 0 0 0;
}

.cart_details {
	width: 115px;
	float: left;
	padding: 5px 0 0 15px;
	text-align: left;
}

.cart_icon {
	float: left;
	padding: 5px 0 0 5px;
}

span.border_cart {
	width: 100px;
	height: 1px;
	margin: 3px 0 3px 0;
	display: block;
	border-top: 1px #999999 dashed;
}
/*---------prod_box----------*/
.prod_box {
	width: 173px;
	height: 285px;
	float: left;
	padding: 10px 10px 10px 11px;
	text-align: center;
}

.top_prod_box {
	width: 173px;
	height: 12px;
	background: url(../images/product_box_top.gif) no-repeat center bottom;
	float: left;
	padding: 0px;
	margin: 0px;
}

.bottom_prod_box {
	width: 173px;
	height: 10px;
	background: url(../images/product_box_bottom.gif) no-repeat center top;
	float: left;
	padding: 0px;
	margin: 0px;
}

.center_prod_box {
	width: 173px;
	height: auto;
	float: left;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.prod_details_tab {
	width: 173px;
	height: 31px;
	float: left;
	background: url(../images/products_details_bg.gif) no-repeat center;
	margin: 3px 0 0 0;
}

img.left_bt {
	float: left;
	padding: 6px 0 0 6px;
}

a.prod_details {
	width: 25px;
	display: block;
	float: left;
	background: url(../images/square-blue-add.gif) no-repeat left;
	padding: 0 0 0 20px;
	margin: 7px 0 0 38px;
	_margin: 6px 0 0 35px;
	text-decoration: none;
	color: #0fa0dd;
}
/*---------prod_box_big----------*/
.prod_box_big {
	width: 554px;
	height: auto;
	float: left;
	padding: 10px 10px 10px 15px;
}

.top_prod_box_big {
	width: 554px;
	height: 12px;
	background: url(../images/details_box_top.gif) no-repeat center bottom;
	float: left;
	padding: 0px;
	margin: 0px;
}

.bottom_prod_box_big {
	width: 554px;
	height: 12px;
	background: url(../images/details_box_bottom.gif) no-repeat center top;
	float: left;
	padding: 0px;
	margin: 0px;
}

.center_prod_box_big {
	width: 554px;
	height: auto;
	background: url(../images/details_box_center.gif) repeat-y;
	float: left;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.product_img_big {
	width: 170px;
	padding: 5px 0 5px 10px;
	float: left;
}

.details_big_box {
	width: 345px;
	float: left;
	padding: 0 0 0 15px;
	text-align: left;
}

.product_title_big {
	color: #ea2222;
	padding: 5px 0 5px 0;
	font-weight: bold;
	font-size: 14px;
}

.specifications {
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
}

.thumbs {
	padding: 8px 5px 8px 5px;
	border: 1px #DFD1D1 solid;
	margin: 3px 0 0 0;
}

.thumbs a {
	padding: 3px;
}

.prod_price_big {
	padding: 5px 0 5px 0;
	font-size: 16px;
}

span.reduce {
	color: #999999;
	text-decoration: line-through;
}

span.price {
	color: rgb(158, 79, 79);
	font-weight: bold;
	font-size: 14px;
}

a.addtocart {
	width: 76px;
	height: 27px;
	display: block;
	float: left;
	background: url(../images/addtocart.gif) no-repeat left;
	padding: 0 0 0 33px;
	text-decoration: none;
	line-height: 27px;
	color: #1c4a52;
}

a.compare {
	width: 76px;
	height: 27px;
	display: block;
	float: left;
	margin: 0 0 0 10px;
	background: url(../images/compare.gif) no-repeat left;
	padding: 0 0 0 33px;
	text-decoration: none;
	line-height: 27px;
	color: #1c4a52;
}

span.blue {
	color: #5F9FAB;
}
/*---------------contact_form------------------*/
.contact_form {
	width: 355px;
	float: left;
	padding: 0px 0 0 75px;
}

.form_row {
	width: 335px;
	clear: both;
	padding: 10px 0 10px 0;
	_padding: 5px 0 5px 0;
	color: #a53d17;
}

label.contact {
	width: 75px;
	float: left;
	font-size: 12px;
	text-align: right;
	padding: 4px 5px 0 0;
	color: #333333;
}

input.contact_input {
	width: 253px;
	height: 18px;
	background-color: #fff;
	color: #999999;
	border: 1px #DFDFDF solid;
	float: left;
}

textarea.contact_textarea {
	width: 253px;
	height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	background-color: #fff;
	border: 1px #DFDFDF solid;
	float: left;
}

a.contact {
	width: 99px;
	height: 27px;
	display: block;
	float: right;
	margin: 0 0 0 10px;
	background: url(../images/contact_bt.gif) no-repeat left;
	padding: 0 0 0 10px;
	text-decoration: none;
	line-height: 27px;
	color: #1c4a52;
}
/*--------------footer----------------*/
.footer {
	width: 100%;
	clear: both;
	height: 65px;
	background: url(../images/footer_bg.gif) repeat-x top;
}

.left_footer {
	float: left;
	width: 300px;
	padding: 5px 0 0 10px;
}

.right_footer {
	float: right;
	padding: 15px 30px 0 0;
}

.right_footer a {
	padding: 0 0 0 7px;
	text-decoration: none;
	color: #666666;
}

.right_footer a:hover {
	text-decoration: underline;
}

.center_footer {
	float: left;
	width: 400px;
	text-align: center;
	color: #666666;
	padding: 10px 0 0 10px;
}

.category {
	width: 400px;
}

.register {
	position: relative;
	width: 780px;
	left: 0px;
	height: 1200px;
}

.errormsg {
	position: relative;
	background-color: #F3F3F3;
	color: #FF0000;
	height: auto;
	padding: 0 10px 0 10px;
}

.alreadyMember {
	color: #FF0000;
}

.precheckoutlogin {
	position: relative;
	width: 175px;
	height: 200px;
	left: 400px;
	top: -1200px;
}

.autehntication {
	position: relative;
	top: 15px;
	width: 100%;
	height: 160px;
	background-color: #E6E6E6;
}

.passwordlength {
	font-size: 12px;
	color: #FF0000;
}

h2 {
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0px;
	padding: 0px 0px 0px 15px;
}

img {
	border: none;
}

/*- Menu 3--------------------------- */
#menu3 {
	width: 200px;
	margin: 10px;
	border-style: solid solid solid solid;
	border-color: #BCD2E6;
	border-size: 1px;
	border-width: 1px;
	position: relative;
	left: 10px;
	top: 10px;
}

#menu3 li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 24px;
	text-decoration: none;
}

#menu3 li a:link,#menu3 li a:visited {
	color: #3333FF;
	display: block;
	background: url(menu3.gif);
	padding: 8px 0 0 10px;
}

#menu3 li a:hover,#menu3 li #current {
	color: #627EB7;
	background: url(menu3.gif) 0 -32px;
	padding: 8px 0 0 10px;
	border-bottom-style: solid;
	border-bottom-width: thin;
}

#accountInfo {
	position: relative;
	left: 20px;
	width: 321px;
	top: 20px;
	height: auto;
}

.style3 {
	font-weight: bold
}

#menu {
	width: 200px;
	border-style: solid solid none solid;
	border-color: #94AA74;
	border-size: 1px;
	border-width: 1px;
	margin: 10px;
	position: absolute;
	left: 8px;
	top: 240px;
}

#register {
	text-align: left;
	position: absolute;
	left: 25%;
	top: 60%;
	height: 46%;
	width: 397px;
}

#login {
	position: absolute;
	text-align: left;
	left: 70%;
	top: 60%;
	height: 270px;
	width: 217px;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}

.insertProduct {
	position: relative;
}

.myAccount {
	height: 200px;
	width:
}

.form {
	position: relative;
	left: 200px;
}

.selectCategory {
	font-size: 16px;
	color: #FF0000;
}

.address {
	position: relative;
	width: 600px;
}

.shippingAddress {
	position: relative;
	width: 300px;
	background-color: #F7F7F7;
}

.shippingInfo {
	position: relative;
	width: 300px;
}

.billingAddress {
	position: relative;
	width: 300px;
	left: 300px;
	top: -81px;
	background-color: #F7F7F7;
}

.order {
	position: relative;
	width: 100%;
	top: -50px;
}

.404text {
	position: relative;
	width: 390px;
	left: 50px;
	top: 50px;
}

.orderHistory {
	position: relative;
	width: 80%;
	left: 20px;
	top: 30px;
}

.loginForm {
	position: relative;
	width: 275px;
	top: -150px;
	left: 225px;
}

#updatePassword {
	display: none;
}

#updateEmail {
	display: none;
}

#updateShipping {
	display: none;
}

#updateBilling {
	display: none;
}

.orderHistory {
	position: relative;
	width: 80%;
	left: 20px;
	top: 30px;
	height: 500px;
}

.lock {
	position: relative;
	top: 50px;
	left: 25px;
	width: 175px;
	height: auto;
}

.forgetPassword {
	height: 780px;
	width: auto;
}

.register_hdr_block {
	width: 99%;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 0px 5px 5px;
	border:1px solid #CCCCCC;
	
	/* Background color and gradients */
	
	background: #f3f3f3;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fcfcfc), to(#f3f3f3));
	background: -webkit-linear-gradient(#fcfcfc, #f3f3f3);
	background: -moz-linear-gradient(#fcfcfc, #f3f3f3);
	background: -ms-linear-gradient(#fcfcfc, #f3f3f3);
	background: -o-linear-gradient(#fcfcfc, #f3f3f3);
	background: linear-gradient(#fcfcfc, #f3f3f3);
	-pie-background: linear-gradient(#fcfcfc, #f3f3f3);
	behavior: url(css/PIE.htc);
	
}

.register_table {
	width: 780px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.register_table td {
	padding: 5px;
}

.login_existing {
	positon: relative;
	width: 350px;
	border: 2px solid #F0F4F5;
	margin: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
}

.standout_gray {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}

.standout_white {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}

.register_benefits li {
	margin-top: 5px;
}

.search_box {
	float: right;
	width: 200px;
	background-color:#fcfcfc;
	margin-left:175px;
}

.login_header {
	float: right;
	width: 175px;
}

.login_header a {
	text-decoration: none;
	color: #215CBB;
}

.login_header a:hover {
	text-decoration: underline;
	color: #215CBB;
}

.cart_button {
	float: right;
	width: 115px;
	text-align: right;
	padding: 5px 15px 5px 5px;	
	background:url("../images/cart_button.gif")
}
.cart_button a {
	color:#787878;
	text-decoration:none;
	font-weight: bold;
}

.header_box_right  {
	margin:50px 20px 0px 0px;
	float:right;
}

.cart_header a:hover {
	text-decoration: underline;
	color: #215CBB;
}

.link {
	color: #215CBB;
}

.divider {
	border: 1px solid #D8D8D8;
	width: 500px;
	margin-left: 100px;
}

.ajax_box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background-color: white;
	opacity: 0.75;
	filter: alpha(opacity =             75); /* for internet explorer */
	opacity: 0.75; /* CSS3 standard */
	-moz-opacity: 0.75; /* for older gecko browsers */
	-khtml-opacity: 0.75; /* for older webkit browsers */
}

.rounded-corners {
	behavior: url('css/border-radius.htc');
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
}

.gradient_button {
	padding: 5px 15px 5px 15px;
	font-weight: bold;
	color: #363636;
	border: 1px solid #bfc4c4;
	background-color: #d9dddd;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d9dddd),
		color-stop(100%, #c6c3c3) );
	background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: linear-gradient(top, #d9dddd, #c6c3c3);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#d9dddd, endColorstr=#c6c3c3 );
}

.gradient_button:hover {
	padding: 5px 15px 5px 15px;
	font-weight: bold;
	color: #363636;
	border: 1px solid #a0a0a0;
	background-color: #bababa;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bababa),
		color-stop(100%, #575757) );
	background-image: -webkit-linear-gradient(top, #bababa, #575757);
	background-image: -moz-linear-gradient(top, #bababa, #575757);
	background-image: -ms-linear-gradient(top, #bababa, #575757);
	background-image: -o-linear-gradient(top, #bababa, #575757);
	background-image: linear-gradient(top, #bababa, #575757);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#bababa, endColorstr=#575757 );
}

button,button span,button span span,button span span span {
	color: #2E2E2E;
	cursor: pointer;
	float: left;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	margin: 0;
	overflow: visible;
	padding: 0;
	text-decoration: none;
	line-height: 1.0;
}

button {
	background: none repeat scroll 0 center transparent;
	border: 0 solid #000000;
	margin-right: 6px;
	overflow: visible;
	padding-right: 0;
	white-space: nowrap;
}

button span {
	margin: 0;
	padding: 0 0 0 8px;
}

button span span {
	margin: 0;
	padding: 0 8px 0 0;
}

button span span span {
	border: 0 solid #000000;
	margin: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	vertical-align: middle
}

button.gray span {
	background: transparent url(../images/buttons/gray_button_left.png)
		no-repeat scroll left top;
}

button.gray span span {
	background: transparent url(../images/buttons/gray_button_right.png)
		no-repeat scroll right top;
}

button.gray span span span {
	background: #cdcdcd url(../images/buttons/gray_button_1px.png) repeat-x
		scroll 0%;
}

button.gray span {
	background: transparent url(../images/buttons/gray_button_left.png)
		no-repeat scroll left top;
}

button.gray span span {
	background: transparent url(../images/buttons/gray_button_right.png)
		no-repeat scroll right top;
}

button.gray span span span {
	background: #cdcdcd url(../images/buttons/gray_button_1px.png) repeat-x
		scroll 0%;
}

.round_corner {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(css/PIE.htc);
	border: 1px solid #D8D8D8;
}

.gray_box {
	background: #F0F0F0;
	border: 1px solid #D8D8D8;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F0F0F0),
		to(#D8D8D8) );
	background: -webkit-linear-gradient(#F0F0F0, #D8D8D8);
	background: -moz-linear-gradient(#F0F0F0, #D8D8D8);
	background: -ms-linear-gradient(#F0F0F0, #D8D8D8);
	background: -o-linear-gradient(#F0F0F0, #D8D8D8);
	background: linear-gradient(#F0F0F0, #D8D8D8);
	-pie-background: linear-gradient(#F0F0F0, #D8D8D8);
	behavior: url(css/PIE.htc);
}

.catalog_filters {
	margin: 10px 5px 10px 5px;
	padding: 5px;
	overflow: auto;
	display: inline-block;
	float: left;
}

.list_no_bullets {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.main_product {
	position: relative;
	margin: 5px 5px 5px 5px;
	width: 600px;
	height: 250px;
}



.light_gray_box {
	border: 1px solid #e8e8e8;
	background: #f3f3f3;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fcfcfc), to(#f3f3f3));
	background: -webkit-linear-gradient(#fcfcfc, #f3f3f3);
	background: -moz-linear-gradient(#fcfcfc, #f3f3f3);
	background: -ms-linear-gradient(#fcfcfc, #f3f3f3);
	background: -o-linear-gradient(#fcfcfc, #f3f3f3);
	background: linear-gradient(#fcfcfc, #f3f3f3);
	-pie-background: linear-gradient(#fcfcfc, #f3f3f3);
	behavior: url(css/PIE.htc);
}

.pagination_box {
	width:725px; 
	height:25px;
	margin-left:25px;
	padding:5px 10px 0px 10px;
	color:#666666;
}

.pagination_box select{
	color:#666666; 
}
span.stars, span.stars span {
    display: block;
    background: url(../images/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}


.strong {
	font-weight:bold;
}

.text_crossed {
	text-decoration:line-through;
}
.prod_box_list div {
	padding:2px;
}

.simple_anchor {
	color:inherit;
}